* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f1f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  display: flex;
  width: 800px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 12px;
}

.signin, .signup {
  width: 50%;
  padding: 40px;
  text-align: center;
}

.signin {
  background-color: #f9f9f9;
}

.signup {
  background-color: #ffffff;
}

h2 {
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 14px;
  margin: 10px 0 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.btn {
  background-color: #3a86ff;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #0059d4;
}

.social-icons a img {
  width: 30px;
  margin: 0 5px;
}
